html, body {
    height: 100%;
    background: black;
}

body {
    background: linear-gradient(grey, black);
    margin: 0;
    background-repeat: no-repeat;
    background-attachement: fixed;
}

#header {
    width: 100%;
}

#control {
    background: linear-gradient(grey, white);
    border-bottom-left-radius: 25px;
    display: table;
    width: 100%;
    height: auto;
}

#navigation, #createtopic, #user, .controlcentre {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 5px;
}
#createtopic, #user ,.controlcentre{
    padding-left: 10px;
}

#navigation {
    display: table-cell;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 25px;
    width : 50px;
    height: 50px;
}

#createtopic, .controlcentre {
    display: table-cell;
    border-right: 3px double black;
    border-left: 3px double black;
    border-bottom: 1px solid black;
    width: 70%;
    height: 50px;
}
#createtopic input[name="newtopic"] {
    width: 90%;
}
#createtopic input[type="submit"] {
    width: auto;
}

#user {
    display: table-cell;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    height: 50px;
}
#user input[type="text"] { 
    width: 90%;
}
#user input[name="password"] {
    width: 90%;
}
#user input[type="submit"] {
    width: auto;
}

#topiclist {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 30px;
    margin-bottom: 55px;
}

.topicdata {
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;
}

.topicdata:hover {
    border: 1px solid white;
}

.topicuser {
    background: linear-gradient(to bottom right, white,white,grey);
    //background-color: grey;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 14px;
    padding-right: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    width: 15%;
    float: left;
    text-align: center;
    min-width: 100px;
}

.topicname {
    vertical-align: middle;
    padding-left: 10px;
    width: auto;
    float: left;
}

#topicstarter {
    background: white;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 5px;
    padding: 10px;
    float: left;
    width: auto;
    text-align: center;
}

#topicstart {
    background: white;
    border: 1px solid black;
    border-top-right-radius: 20px;
    float: left;
    width: auto%;
    padding: 10px;
    vertical-align: middle;
}

.post {
    background: white;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;

}

.postuser {
    border: 1px solid black;
    margin: 2px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 5px;
    float: left;
    text-align: center;
}

.postcontent {
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin: 2px;
    border-top-right-radius: 15px;
    padding: 6px;
    float: left;
    width: auto%;
}

#footer {
    background: linear-gradient(to right, black,grey,black);
    //background-color: grey;
    border-top: 1px solid black;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#postwriter input[name="newpostcontent"]{
    width: 80%;
    height: 50px;
}

#postwriter {
    background: linear-gradient(to right, grey,white,grey);
    width: 95%;
    padding: 5px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    float: left;
    margin-bottom: 55px;
}

